<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>usermanagment.web.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <display-name>hibernate_crud_exemple</display-name>
  <welcome-file-list>
    <welcome-file>user-form.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>generatePdf</display-name>
    <servlet-name>generatePdf</servlet-name>
    <servlet-class>usermanagment.web.generatePdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generatePdf</servlet-name>
    <url-pattern>/generatePdf</url-pattern>
  </servlet-mapping>
</web-app>